@keyframes mainCard2to0 {
	0% {
		transform: rotateY(-185deg);
		/* z-index: 0; */
	}
	100% {
		transform: rotateY(-5deg);
	}
}

@keyframes backCard2to0 {
	0% {
		transform: rotateY(-180deg);
		/* z-index: 1; */
	}

	100% {
		transform: rotateY(0deg);
	}
}

html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}
body {
	background: #00a5f7;
	display: -ms-flexbox;
	display: flex;
	-o-box-orient: vertical;
	flex-direction: column;
	-o-box-pack: center;
	justify-content: center;
	-o-box-align: center;
	align-items: center;
	overflow: hidden;
}
.container {
	width: 400px;
	height: 544px;
	padding: 0;
	margin: 0;
	position: relative;
	-ms-perspective: 1200px;
	perspective: 1200px;
	perspective-origin: left;
	transform-style: preserve-3d;
}

.frontCard {
	width: 100%;
	height: 100%;
	object-fit: fill;
	object-position: top left;
}

.card .front {
	transform: translateZ(1px);
}

.card .back {
	transform: rotateY(-180deg) translateZ(-1px);
}

.frontCard img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top left;
}

.card {
	width: 100%;
	height: 100%;
	position: absolute;
	transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transform-origin: left;
	transform-style: preserve-3d;

}

.card div {
	background-color: "white";
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: -ms-flexbox;
	display: flex;
	-o-box-pack: center;
	justify-content: center;
	-o-box-align: center;
	align-items: center;
	-webkit-font-smoothing: antialiased;
}

.card img  {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	display: -ms-flexbox;
	display: flex;
	-o-box-pack: center;
	justify-content: center;
	-o-box-align: center;
	align-items: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	box-shadow: rgba(33, 35, 38, 0.75) 0px 10px 10px -10px;
	outline: 1px solid transparent;
}

.card .back {
	transform: rotateY(-180deg);
}

.frontCard.perspective0 {
	/* z-index: 1; */
	transform: rotateY(0deg);
}

.frontCard.perspective1 {
	/* z-index: 1; */
	transform: rotateY(-145deg);
}

.frontCard.perspective2 {
	/* z-index: 1; */
	transform: rotateY(-175deg);
}

.backCard.perspective0 {
	/* z-index: 0; */
	transform: rotateY(5deg) ;

}

.backCard.perspective1 {
	transform: rotateY(0deg);
	/* z-index: 0; */
}

.frontCard.perspective0 .back::before {
	content: "";
	z-index: 2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(-90deg,rgba(0, 0, 0, 0.38) 0%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0) 100%);
	filter: blur(5px);
}

.frontCard.perspective1 .back::before {
	content: "";
	z-index: 2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(-90deg,rgba(0, 0, 0, 0.38) 0%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0) 100%);
	filter: blur(5px);
}

.frontCard.perspective2 .back::before {
	content: "";
	z-index: 2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(-90deg,rgba(0, 0, 0, 0.38) 0%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0) 100%);
	filter: blur(5px);
}


.backCard.perspective2 {
	transform: rotateY(-175deg);
	/* z-index: 1; */
}

.card.perspective0.from-perspective2 {
	animation: mainCard2to0 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.backCard.perspective0.from-perspective2 {
	animation: backCard2to0 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
